<div class="panel-heading text-center">
        Title of the group
</div>

<div class="row">
       <div class="col-md-4">
            {{group-info-panel}}
    </div>
        <div class="col-md-8">
            <div class="panel panel-default">
            <div class="panel-heading pull-right">
                <a {{action 'setMembersTab'}} class="btn btn-default btn-header no-border">Members</a>
                <a {{action 'setEventsTab'}} class="btn btn-default btn-header no-border">Events</a>
            </div>
            </div>
                <div class="clearfix"></div>
        
    
            {{#if isMembersTab}}
                {{group-members}}
            {{else if isEventsTab}}
                {{group-events}}
            {{/if}}
        </div>
</div>


