<div class="panel-heading">
	<img class="img-responsive center-block" src={{group.logo}} />
</div>
<div class="panel-body">
	<div>
		<div class="pull-right">
		<button class="btn btn-default"  {{action "joinGroup" on="click"}}><span class="glyphicon glyphicon-plus"></span> Join</button>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<p class="text-muted text-right">Name: </p>
		</div>
		<div class="col-md-8">
			<p>{{group.name}}:{{group.group_id}}</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<p class="text-muted text-right">Total Members: </p>
		</div>
		<div class="col-md-8">
			<p>{{group.members.length}}</p>
		</div>
	</div>
</div>
