
            <div class="panel panel-default">
            <div class="panel-heading">
                <a {{action 'setNewestTab'}} class="btn btn-default btn-header no-border">Members</a>
                <a {{action 'setHighTab'}} class="btn btn-default btn-header no-border">Events</a>
            </div>
            </div>
                <div class="clearfix"></div>
            {{#if isNewestTab}}
                {{group-newest-event}}
            {{else if isHighTab}}
                {{group-high-event}}
            {{/if}}



