<!--
parameters:
	gamelists:
		owns[]:
			game_id
			name
		wishes[]:
			game_id
			name
		likes[]:
			game_id
			name
	<testing>gamelists:
		owns[]:
			game_id
		wishes[]:
			game_id
		likes[]:
			game_id
-->
<div class="panel panel-default">
	{{gamelists}} AKSDJSAKJD
	<div class="panel-heading"><a role="button" data-toggle="collapse" href="#owns-collapse">
		<p>Owns <span class="caret"></span></p>
		</a>
	</div>
	<ul class="list-group collapse" id="owns-collapse">
		{{#each gamelists.owns as |game|}}
			<li class="list-group-item">
				{{#link-to 'game' game}}{{game}}{{/link-to}}
				<!-- 
				{{#link-to 'game' game.game_id}}{{game.name}}{{/link-to}}
				-->
			</li>
		{{else}} 
			<li class="list-group-item text-muted">
				I'm poor and have no games ;^;
			</li>
		{{/each}}
	</ul>
</div>
<div class="panel panel-default">
	<div class="panel-heading"><a role="button" data-toggle="collapse" href="#wishes-collapse">
		<p>Wishlist <span class="caret"></span></p>
		</a>
	</div>
	<ul class="list-group collapse" id="wishes-collapse">
		{{#each gamelists.wishes as |game|}}
			<li class="list-group-item">
				{{#link-to 'game' game}}{{game}}{{/link-to}}
				<!-- 
				{{#link-to 'game' game.game_id}}{{game.name}}{{/link-to}}
				-->
			</li>
		{{else}}
			<li class="list-group-item text-muted">
				I'm silly and want no games ;^;
			</li>
		{{/each}}
	</ul>
</div>
<div class="panel panel-default">
	<div class="panel-heading"><a role="button" data-toggle="collapse" href="#likes-collapse">
		<p>Likes <span class="caret"></span></p>
		</a>
	</div>
	<ul class="list-group collapse" id="likes-collapse">
		{{#each gamelists.likes as |game|}}
			<li class="list-group-item">
				{{#link-to 'game' game}}{{game}}{{/link-to}}
				<!-- 
				{{#link-to 'game' game.game_id}}{{game.name}}{{/link-to}}
				-->
			</li>
		{{else}}
			<li class="list-group-item text-muted">
				I'm grupy-pants and like no games ;^;
			</li>
		{{/each}}
	</ul>
</div>