<div class="container">

    {{game-info-panel consoles=model.platforms description=model.desc image=model.image name=model.name}}
          <!--SECOND ROW-->
    <div class="row">
        <div class="col-md-4">
            {{match-making-panel}}
        </div>

        <div class="col-md-8">
            {{game-group-list-panel}}
        </div>
    </div>

          <!--THIRD ROW-->
    <div class="row">
      <div class="col-md-12">
          {{reviews-panel}}
          {{try-test}}
      </div>
    </div>
</div>
