<div class="row">
    <div class="panel panel-default" >
        <div class="panel-heading">
            <div class="btn-group pull-right" role="group">
                <a {{action "setByAlphabeticalTab"}} class="btn btn-default btn-header no-border">Alphabetical</a>
                <a {{action "setByConsoleTab"}} class="btn btn-default btn-header no-border">By Console</a>
                <a {{action "setByGenreTab"}} class="btn btn-default btn-header no-border">By Genre</a>
            </div>
                <div class="clearfix"></div>
        </div>
    </div>
</div>
{{#if isByConsole}}
    {{gamelist-by-console}}
{{else if isByGenre}}
    {{gamelist-by-genre}}
{{else if isByAlphabetical}}
    {{gamelist-by-alphabetical}}
{{/if}}
